.header {
width: 100%;
padding: 20px 48px;
}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
height: min-content;
}
.header_menu{
    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: center;
}