@import '../../app/colors.scss';

.input__template {
    display: flex;
    flex-direction: column;
}

.input{
    border: none;
    outline: none;
}

.input__range{
    height: 2px;
    outline: none;
    border: 1px solid $gray;
    appearance: none;
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $orange;
        cursor: pointer;
      }
}
.input__container{
position: relative;
background-color: #fff;
border-radius: 4px;
width: 100%;
margin: 0 auto;
}
